
body {
    background-color: plum;
}

h1, h2 {
    text-align: center;
}

.welcome-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid;
    border-radius: 15px;
}

#name, #start {
    width: 60px;
    height: 30px;
    margin: auto;
    align-items: center;
}

.question-area {
    background-color: aliceblue;
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.question-area h2 {
    margin: 5px;
}

.question-area p {
    text-align: center;
}

#answers-area {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.answers {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    width: 60px;
    height: 20px;
    text-align: center;
    background-color: plum;
}

#nextQ {
    height: 50px;
    
}