h1 {
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 10px 0;
}

#name, #start {
    width: 60%;
    height: 30px;
    margin: 20px;
}

.close {
    float: right;
    color: darkgrey;
    font-size: 30px;
    font: bold;
}

.question-area {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.question-area h2 {
    margin: 5px;
}

#answers-area {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.answers {
    margin: 5px;
    border: 1px solid black;
    width: 60px;
    height: 20px;
    text-align: center;
    background-color: plum;
}